<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AdminWebsite" value="http://vdcitadmin.e-invoice.vn"/>
  <add key="Portal" value="http://localhost:8092"/>
  <add key="SystemCode" value="LHD_VDC"/>
  <add key="VAN_TAX_AUT_URL" value="http://testdichvuhoadon.gdt.gov.vn:8002/van-service/services/invoice/certify/v1"/>
  <add key="VAN_TAX_OFFICE_CODE" value="TEhEMDEwMDY5MTU0NDp4eCMjQExIRDAxMDA2OTE1NDRAMjAxNTA2MTcxNjM0MjA="/>
</appSettings>
