<configuration>
  <properties>
    <smtpHost>smtp.gmail.com</smtpHost>
    <!-- required-->
    <smtpPort>587</smtpPort>
    <smtpUsername>vinvoicedev@gmail.com</smtpUsername>
    <smtpPassword>Vsi123456@</smtpPassword>
    <emailEncoding>UTF-8</emailEncoding>
    <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
    <tempDir></tempDir>
  </properties>
  <components>

    <component
      id="EInvoice.CAdmin.IService.IRegisterEmailService"
      service="EInvoice.CAdmin.IService.IRegisterEmailService,EInvoice.CAdmin"
      type="EInvoice.CAdmin.ServiceImp.RegisterEmailService,EInvoice.CAdmin">
      <paramerters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </paramerters>
    </component>

    <component
			id="EInvoice.CAdmin.IService.IEmailRegisterEngine"
			service="EInvoice.CAdmin.IService.IEmailRegisterEngine, EInvoice.CAdmin"
			type="EInvoice.CAdmin.ServiceImp.EmailRegisterEngine, EInvoice.CAdmin">
    </component>

    <component
      id="FX.Utils.emailservice"
      service="FX.Utils.EmailService.IEmailService, FX.Utils"
      type="FX.Utils.EmailService.DefaultEmailService, FX.Utils">
      <parameters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </parameters>
    </component>

    <component
			id="FX.Utils.emailsender"
			service="FX.Utils.EmailService.IEmailSender, FX.Utils"
			type="FX.Utils.EmailService.SmtpNet2EmailSender, FX.Utils">
      <parameters>
        <host>smtp.gmail.com</host>
        <port>587</port>
        <EnableSsl>true</EnableSsl>
        <smtpUsername>vinvoicedev@gmail.com</smtpUsername>
        <smtpPassword>Vsi123456@</smtpPassword>
        <emailEncoding>UTF-8</emailEncoding>
      </parameters>
    </component>
    <component
			id="FX.Utils.emailtemplateengine"
			service="FX.Utils.EmailService.IEmailTemplateEngine, FX.Utils"
			type="FX.Utils.EmailService.SimpleEmailTemplateEngine, FX.Utils">
    </component>

    <!--<component
			id="FX.Utils.emailtemplateengine"
			service="FX.Utils.EmailService.IEmailTemplateEngine, FX.Utils"
			type="EInvoice.Core.EmailTempGetFromDBEngine, EInvoice.Core">
    </component>-->

    <component
      id="LauncherService"
      service="EInvoice.CAdmin.ServiceImp.LauncherService, EInvoice.CAdmin"
      type="EInvoice.CAdmin.ServiceImp.LauncherService, EInvoice.CAdmin">
    </component>

    <component
			id="WebLauncherService"
			service="EInvoice.CAdmin.ServiceImp.WebLauncherService, EInvoice.CAdmin"
			type="EInvoice.CAdmin.ServiceImp.WebLauncherService, EInvoice.CAdmin">
    </component>

    <!--<component
			id="PSVLauncherService"
			service="EInvoice.PSVExtends.ServiceImp.PSVLauncherService, EInvoice.PSVExtends"
			type="EInvoice.PSVExtends.ServiceImp.PSVLauncherService, EInvoice.PSVExtends">
    </component>-->
    <!--IdentityManagement-->
    <component
      id="IRBACMembershipProvider"
      service="IdentityManagement.WebProviders.IRBACMembershipProvider, IdentityManagement"
      type="IdentityManagement.WebProviders.RBACMembershipProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\LauncherConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>

    <component
      id="FanxiAuthentication"
      service="IdentityManagement.Authorization.FanxiAuthenticationBase, IdentityManagement"
      type="IdentityManagement.Authorization.EInvoiceAuthentication, Einvoice.Core">
      <parameters>
        <mSessionFactoryConfigPath>Config\LauncherConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>

    <component
      id="RBACRoleProvider"
      service="IdentityManagement.WebProviders.IRBACRoleProvider, IdentityManagement"
      type="IdentityManagement.WebProviders.RBACRoleProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\LauncherConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>

    <component
      id="IroleService"
      service="IdentityManagement.Service.IroleService, IdentityManagement"
      type="IdentityManagement.ImplementService.roleService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IApplicationsService"
      service="IdentityManagement.Service.IApplicationsService, IdentityManagement"
      type="IdentityManagement.ImplementService.ApplicationsService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IuserService"
      service="IdentityManagement.Service.IuserService, IdentityManagement"
      type="IdentityManagement.ImplementService.userService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IoperationService"
      service="IdentityManagement.Service.IoperationService, IdentityManagement"
      type="IdentityManagement.ImplementService.operationService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IpermissionService"
      service="IdentityManagement.Service.IpermissionService, IdentityManagement"
      type="IdentityManagement.ImplementService.permissionService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IobjectService"
      service="IdentityManagement.Service.IobjectService, IdentityManagement"
      type="IdentityManagement.ImplementService.objectService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--EInvoice.Core-->
    <component  id="IConfigService" service="EInvoice.Core.IService.IConfigService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.ConfigService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICompanyService" service="EInvoice.Core.IService.ICompanyService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.CompanyService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IMenusService" service="EInvoice.Core.IService.IMenusService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.MenusService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IInvCategoryService" service="EInvoice.Core.IService.IInvCategoryService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvCategoryService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IInvTemplateService" service="EInvoice.Core.IService.IInvTemplateService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvTemplateService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IRegisterTempService" service="EInvoice.Core.IService.IRegisterTempService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.RegisterTempService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="DsigGenerator" service="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"  type="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"/>

    <component  id="TaxVATGenerator" service="EInvoice.Core.Launching.TaxVATGenerator, EInvoice.Core"  type="EInvoice.Core.Launching.TaxVATGenerator, EInvoice.Core"/>

    <component  id="DsigViewer" service="EInvoice.Core.Viewer.DsigViewer, EInvoice.Core"  type="EInvoice.Core.Viewer.DsigViewer, EInvoice.Core"/>

    <component  id="XadesViewer" service="EInvoice.Core.Viewer.XadesViewer, EInvoice.Core"  type="EInvoice.Core.Viewer.XadesViewer, EInvoice.Core"/>

    <component  id="XMLGenerator" service="EInvoice.Core.Launching.XMLGenerator, EInvoice.Core"  type="EInvoice.Core.Launching.XMLGenerator, EInvoice.Core"/>

    <component  id="ITaxAuthorityService" service="EInvoice.Core.IService.ITaxAuthorityService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.TaxAuthorityService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IKeyStoresService" service="EInvoice.Core.IService.IKeyStoresService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.KeyStoresService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICertificateService" service="EInvoice.Core.IService.ICertificateService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.CertificateService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ConfirmDeliver" service="EInvoice.Core.Launching.ConfirmDeliver, EInvoice.Core"  type="EInvoice.Core.Launching.ConfirmDeliver, EInvoice.Core"/>

    <component  id="DefaultDeliver" service="EInvoice.Core.Launching.DefaultDeliver, EInvoice.Core"  type="EInvoice.Core.Launching.DefaultDeliver, EInvoice.Core"/>

    <component  id="PaymentDeliver" service="EInvoice.Core.Launching.PaymentDeliver, EInvoice.Core"  type="EInvoice.Core.Launching.PaymentDeliver, EInvoice.Core"/>

    <component  id="IPaymentExcel" service="EInvoice.CAdmin.Controllers.IPaymentExcel, EInvoice.CAdmin"  type="EInvoice.CAdmin.Controllers.ComonPaymentExcel, EInvoice.CAdmin"/>
    <!--launch-->

    <component  id="IStaffService" service="EInvoice.Core.IService.IStaffService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.StaffService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IDecisionService" service="EInvoice.Core.IService.IDecisionService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.DecisionService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ITransactionService" service="EInvoice.Core.IService.ITransactionService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.TransactionService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPaymentTransactionService" service="EInvoice.Core.IService.IPaymentTransactionService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.PaymentTransactionService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICustomerService" service="EInvoice.Core.IService.ICustomerService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.CustomerService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--<component  id="IGeneratorINV" service="EInvoice.Core.Launching.IGeneratorINV, EInvoice.Core"  type="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"/>-->

    <!--<component  id="IRepository" service="EInvoice.Core.Launching.IRepositoryINV, EInvoice.Core"  type="EInvoice.Core.Launching.StoreRepository, EInvoice.Core"/>-->
    <component  id="IRepository" service="EInvoice.Core.Launching.IRepositoryINV, EInvoice.Core"  type="EInvoice.Core.Launching.DefaultRepository, EInvoice.Core"/>
    <component  id="IGetInvData" service="EInvoice.Core.Launching.IGetInvData, EInvoice.Core"  type="EInvoice.Core.Launching.DefaultGetInvData, EInvoice.Core"/>
    <component  id="TaxVATGenerator" service="EInvoice.Core.Launching.TaxVATGenerator, EInvoice.Core"  type="EInvoice.Core.Launching.TaxVATGenerator, EInvoice.Core"/>
    <component  id="DsigGenerator" service="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"  type="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"/>
    <component  id="INoTransaction" service="EInvoice.Core.INoTransaction, EInvoice.Core"  type="EInvoice.Core.Launching.NoTransaction, EInvoice.Core"/>

    <!--Config tax certifycate-->
    <component id="TaxCertifyProvider" service="EInvoice.Core.Launching.TaxCertifyProvider, EInvoice.Core" type="EInvoice.Core.Launching.TaxCertifyProvider, EInvoice.Core"/>
    <component id="AgentCertifyProvider" service="EInvoice.Core.Launching.AgentCertifyProvider, EInvoice.Core" type="EInvoice.Core.Launching.AgentCertifyProvider, EInvoice.Core"/>

    <!--view-->
    <component  id="IViewer" service="EInvoice.Core.Viewer.IViewer, EInvoice.Core"  type="EInvoice.Core.Viewer.DsigViewer, EInvoice.Core"/>
    <!--<component  id="EncryptMailDeliver" service="EInvoice.PSVExtends.Launching.EncryptMailDeliver, EInvoice.PSVExtends"  type="EInvoice.PSVExtends.Launching.EncryptMailDeliver, EInvoice.PSVExtends">
      <parameters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </parameters>
    </component>-->
    <component  id="ConfirmDeliver" service="EInvoice.Core.Launching.IDeliver, EInvoice.Core"  type="EInvoice.Core.Launching.ConfirmDeliver, EInvoice.Core">
      <parameters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </parameters>
    </component>

    <!--LaucherConfig-->
    <component  id="IInvCancelDetailsService" service="EInvoice.Core.IService.IInvCancelDetailsService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvCancelDetailsService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IInvCancelService" service="EInvoice.Core.IService.IInvCancelService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvCancelService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="HISInvoiceService" service="EInvoice.Core.ServiceImp.HISInvoiceService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.HISInvoiceService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="InvoiceVATService" service="EInvoice.Core.ServiceImp.InvoiceVATService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvoiceVATService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="HISVATInvoiceService" service="EInvoice.HISExtends.ServiceImp.HISVATInvoiceService, EInvoice.HISExtends" type="EInvoice.HISExtends.ServiceImp.HISVATInvoiceService, EInvoice.HISExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="BV108BANHANGInvoiceService" service="EInvoice.HISExtends.ServiceImp.BV108BANHANGInvoiceService, EInvoice.HISExtends" type="EInvoice.HISExtends.ServiceImp.BV108BANHANGInvoiceService, EInvoice.HISExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="BV108KHAMBENHInvoiceService" service="EInvoice.HISExtends.ServiceImp.BV108KHAMBENHInvoiceService, EInvoice.HISExtends" type="EInvoice.HISExtends.ServiceImp.BV108KHAMBENHInvoiceService, EInvoice.HISExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="NUOCHPBANHANGInvoiceService" service="EInvoice.HISExtends.ServiceImp.NUOCHPBANHANGInvoiceService, EInvoice.HISExtends" type="EInvoice.HISExtends.ServiceImp.NUOCHPBANHANGInvoiceService, EInvoice.HISExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--<component  id="PSVVATInvoiceService" service="EInvoice.PSVExtends.ServiceImp.PSVVATInvoiceService, EInvoice.PSVExtends" type="EInvoice.PSVExtends.ServiceImp.PSVVATInvoiceService, EInvoice.PSVExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->

    <!--<component  id="IPsvUserService" service="EInvoice.PSVExtends.IService.IPsvUserService, EInvoice.PSVExtends" type="EInvoice.PSVExtends.ServiceImp.PsvUserService, EInvoice.PSVExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->


    <component  id="IProductInvService" service="EInvoice.Core.IService.IProductInvService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.ProductInvService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ITaxDeclarationService" service="EInvoice.Core.IService.ITaxDeclarationService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.TaxDeclarationService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPublishInvoiceService" service="EInvoice.Core.IService.IPublishInvoiceService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.PublishInvoiceService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--<component  id="IRoleSerialPatternService" service="EInvoice.Core.IService.IRoleSerialPatternService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.RoleSerialPatternService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->

    <component  id="IPublishService" service="EInvoice.Core.IService.IPublishService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.PublishService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPublishTempService" service="EInvoice.Core.IService.IPublishTempService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.PublishTempService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IAdjustInvService" service="EInvoice.Core.IService.IAdjustInvService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.AdjustInvService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ISendEmailService" service="EInvoice.Core.IService.ISendEmailService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.SendEmailService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IInvCertifyService" service="EInvoice.Core.IService.IInvCertifyService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvCertifyService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IProductsService" service="EInvoice.Core.IService.IProductsService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.ProductsService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IRecordsInvService" service="EInvoice.Core.IService.IRecordsInvService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.RecordsInvService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ILogSystemService" service="EInvoice.Core.IService.ILogSystemService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.LogSystemService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IInvDeliverService" service="EInvoice.Core.IService.IInvDeliverService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvDeliverService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <!--<component  id="IPsvSendEmailService" service="EInvoice.PSVExtends.IService.IPsvSendEmailService, EInvoice.PSVExtends"  type="EInvoice.PSVExtends.ServiceImp.PsvSendEmailService, EInvoice.PSVExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->

    <!--<component  id="IPsvCustomerService" service="EInvoice.PSVExtends.IService.IPsvCustomerService, EInvoice.PSVExtends"  type="EInvoice.PSVExtends.ServiceImp.PsvCustomerService, EInvoice.PSVExtends">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->
    <component  id="ReportService" service="EInvoice.Core.ServiceImp.ReportService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.ReportService, EInvoice.Core"/>
    <component  id="ExcelDefaultDataTranService" service="EInvoice.CAdmin.ServiceImp.ExcelDefaultDataTranService, EInvoice.CAdmin"  type="EInvoice.CAdmin.ServiceImp.ExcelDefaultDataTranService, EInvoice.CAdmin"/>
    <!--<component  id="PSVExcelDataTranService" service="EInvoice.PSVExtends.ServiceImp.PSVExcelDataTranService, EInvoice.PSVExtends"  type="EInvoice.PSVExtends.ServiceImp.PSVExcelDataTranService, EInvoice.PSVExtends"/>-->
    <!--<component  id="ISendEmailEncrypt" service="EInvoice.PSVExtends.IService.ISendEmailEncrypt, EInvoice.PSVExtends"  type="EInvoice.PSVExtends.ServiceImp.SendEmailEncrypt, EInvoice.PSVExtends">
      <parameters>
        <host>smtp.gmail.com</host>
        <port>587</port>
        <EnableSsl>true</EnableSsl>
        <emailEncoding>UTF-8</emailEncoding>
        <emailSender>vinvoicedev@gmail.com</emailSender>
        <emailSecurity>Vsi123456@</emailSecurity>
      </parameters>
    </component>-->
  </components>
</configuration>
